.markdown-preview-view.cornell-note .callout[data-callout="info"] {
    float: right;
    padding: 8px;
    position: absolute;
    left: 4%;
    width: 20%;
    max-width: 300px;
    min-width: 150px;
    max-height: 200px;
    color: white;
}

.markdown-preview-view.cornell-note .callout[data-callout="info"] .callout-icon {
    display: none;
}

.markdown-preview-view.cornell-note .markdown-preview-sizer,
.markdown-source-view.cornell-note .markdown-preview-sizer {
    max-width: var(--file-line-width);
    margin-left: auto;
    margin-right: auto;
    margin-inline: auto;
    width: 100%;
}

.markdown-preview-view.cornell-note .callout[data-callout="summary"] {
    margin-top: 100px;
}